
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{
    --a:0;
}

body{
    background-color: black; 
    color: white;
}




*{
    margin:0;
    padding: 0;
}
.left{
    width:30vw;
    padding: 10px;
}


.right{
    width:75vw;
    padding: 10px;
}



.home ul li{
    display: flex;
    gap:14px;
    width:14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}



.heading{
    display: flex;
    gap:14px;
    width:100%;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
   
    
}

.heading img{
    width:20px;
}

.library{
    min-height: 75vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap:13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    
}

.footer a{
    color: grey;
    
}

.right{
    margin:15px 0;
    position: relative;
    

}

.nav{
    display: flex;
    
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
    height:55px;
}

.header > *{
    padding:11px;
    

}

.spotify-playlists{
    padding: 15px;
    

}


.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin:25px;
    max-height: 58vh;
    overflow-y: scroll;
}

 .card{
    width:200px;
    background-color:#252525;
    padding:8px;
    border-radius: 5px;
    position: relative;
}

.card:hover{
    cursor:pointer;
    background-color: rgb(59, 58, 58);
    transition: all 0.5s;
    --a:
}

.card>*{
    padding-top: 7px;
}

.card img{
    width:100%;
    object-fit: contain;
}

.play .circle-background {
    fill: rgb(0 ,147 ,0);
}
.play .play-button {
    fill: rgb(0 ,147 ,0);
    stroke: black;
    stroke-width: 1.5;
    stroke-linejoin: round;
}

.play{
    position: absolute;
    right:20px;
    top:168px;
    opacity: var(--a);
}

.buttons>*{
    margin:0 12px;
}

.signUpbtn{
    background-color: rgb(34,34,34);
    color: rgb(139, 130, 130);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signUpbtn:hover{
    font-size: 17px;
    color:white;
}

.loginbtn{
    background: #f7f2f2;
    border-radius: 21px;
    color: black;
    padding: 10px;
    cursor:pointer;
    font-size: 16px;
    width:79px;
    border: none;
    outline: none;
}

.loginbtn:hover{
    cursor:pointer;
    font-weight: bold;
    font-size: 17px;

}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(234, 240, 234);
    width:95%;
    padding: 10px;
    filter: invert(1);
    background-color: #dbdada;
    border-radius: 15px;
    margin:10px;
    height:60px;


}

.songButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.songList{
    height:370px;
    overflow:auto;
    margin-top:15px;
    
}

#hamburger{
    display: none;
}

#crossbtn{
    display:none;
}

.songList ul{
    padding:0 8px;

}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap:20px;
    padding:20px 0;
    cursor: pointer;
    border:2px solid white;
    margin:8px 0; 
    padding:18px;
    border-radius: 5px;
    justify-content: space-between;
    
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playNow span{
    font-size: 17px;
    
    width: 70px;
}

.info{
    font-size: 14px;
}

.songName{
    display: flex;
    justify-content: left;
    font-size: 15px;
}

.seekbar{
    height:0;
    width:97%;
    border:2px solid black;
    position:absolute;
    bottom:4px;
    border-radius: 10px;
    margin:5px;cursor: pointer;
}

.circle{
    width:12px;
    height:12px;
    border-radius: 6px;
    background-color: black;
    position:relative;
    bottom:6px;
    left:0%;
    transition:left 0.5s;

}

.songButtons img{
    cursor:pointer;width:30px;

}

.songInfo ,.songTime{
    color:black;
   
}

.songInfo{
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.aboveBar{
    display: flex;
    justify-content: space-between;
}

.songTime{
    display: flex;
    justify-content: center;
    align-items: center;
}


.volTime{
    display: flex;
    gap:10px;
}

.range input{
    cursor: pointer;
}


@media (max-width:1200px) {
    .left{
        position: absolute;
        left:-100%;
        transition: all .3s;
        z-index: 1;
        width:350px;
        height: 100vh;
        background-color: black;
    }

    .right{
        width:100vw;
        height: 100vh;
        margin-top: 0;

    }

    .playbar{
        width:90vw;
        margin:0;
        height:170px;
        margin-bottom: 60px;
        
    }

    #hamburger{
        display: block;
    }

    #crossbtn{
        display:block;
    }
    .logo{
        display: flex;
        justify-content: space-between;
    }
    .aboveBar{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap:15px;
    }

    .songButtons img {
        cursor: pointer;
        height: 40px;
    }

    .seekbar{
        width:91%;
    }

    .card{
        width:90%;
        padding: 8px;
        margin: 8px;
    }

    .spotify-playlists{
        padding: 0;
    }

    #prev,#play,#next{
        width:35px;
    }

    .songTime{
        display: flex;
        justify-content: center;
    }

    .songInfo {        
        display: flex;
        justify-content: center;
        width: 100%;
    }

    

    .spotify-playlists h1{
        font-size: 40px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .info div{
        word-break: break-all;
    }

    .songList{
        margin-top: 25px;
        height: 400px;
    }

    .volTime{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .volume{
        display: flex;
        gap: 15px;
    }

    .play{
        top:300px;
    }

    

    
}

 